/data_
.DS_Store
/models
/results_
/notes
notes/~$initial_exploration-25.03.pptx
*.pyc
*.pptx
/notes
/src/data/models
/src/main
src/exploration/gene2go
src/exploration/gene_result.txt
src/exploration/genes_ncbi_proteincoding.py
src/exploration/go-basic.obo
src/genes_ncbi_proteincoding.py
src/gene2go
src/go-basic.obo
data/hg38.fa
data/hg38Tn5Bias.h5
