/data
.DS_Store
/models
/results
/notes
notes/~$initial_exploration-25.03.pptx
*.pyc
*.pptx
/notes
/src/data/models
/src/main
src/exploration/gene2go
src/exploration/gene_result.txt
src/exploration/genes_ncbi_proteincoding.py
src/exploration/go-basic.obo
src/genes_ncbi_proteincoding.py
src/gene2go
src/go-basic.obo
